body {
    background-color: steelblue;
}
hr {
    border-color: lightgray;
    border-style: none none dotted;
    width: 50px;
    border-width: 6px;
    background: transparent;
}
h1, h2 {
    color: #91C3DC;
}